<% include partials/header.ejs %>
<% include partials/sidebar.ejs %>
<div style="background-color: white;">
<div class="contatoMenu" style="width: 80%; margin: auto; margin-top: 70px;background-color: white; ">
    <div class="titleSobrenos" ><h2>Portugal Lá fora</h2></div>
    <div class="subtitleSobrenos" style="color: rgb(169, 169, 170);"><h2>A Plataforma dos emigrantes Portugueses na Suiça</h2></div>
    <div class="boxes" style="display: inline-flex; justify-content: space-around; width: 100%;">
        <div class="sketchy" style="width: 45%;line-height: 20px;">
            <br>
            <h4><i class="far fa-envelope"></i></h4>
        <h4>portugallafora@gmail.com</h4><br><br>
        <h4><i class="fas fa-phone-alt"></i></h4>
        <h4>0789349403</h4><br><br>
        <h4><i class="fa fa-facebook fa-lg"></i></h4>
        <h4><a style="color: black;" href="https://web.facebook.com/portugal.lafora.9"> https://web.facebook.com/portugal.lafora.9</a></h4>
        </div>
        <div class="sketchy" style="width: 50%;">
            <h3 style="margin: auto; margin-left: 40px;">contata-nos</h3>
            <form action="" method="post">
            <div class="form__group" id="sobrenosContato" >
                <input type="text" class="form__input" id="codpos" name="nome" placeholder="O teu nome... "  style="width: 80%;font-family:Arial, FontAwesome;margin: auto;"  required="" />
                 
            </div><br>
            <div class="form__group" id="sobrenosContato">
                <input type="text" class="form__input" id="codpos" name="email" placeholder="O teu email... "  style="width: 80%;font-family:Arial, FontAwesome;margin: auto;"  required="" />      
            </div><br>
              
              <div class="form__group" id="sobrenosContato">
                  <textarea type="text" class="form__input" id="descricao" name="mensagem" placeholder="Mensagem... "  style="width: 80%;font-family:Arial, FontAwesome;margin: auto;height: 110px;"  required="" ></textarea>
              </div>
              <br>
              <div class="form__group" id="btnadd" style="width: 30%; border-radius: 5px;">
                <input style="width: 80%; border-radius: 5px;" type="submit" id="btnadd" class="form__input"  value="Enviar"  >
                </div></form>
        </div>
    </div>

</div>
</div></div>

<% include footer.ejs %>