<% include partials/header.ejs %>
<% include partials/sidebar.ejs %>


<div class="sobrenosMenu">
    <div class="caixa"><br>
    <div class="titleSobrenos"><h2>Portugal Lá fora</h2></div>
    <img style="width: 600px;height: 300px;"  src="/resources/images/portugalsobrenos.jpg">
    <div class="subtitleSobrenos" style="color: rgb(169, 169, 170);"><h2>A Plataforma dos emigrantes Portugueses na Suiça</h2></div>
    <div class="textoSobrenos"><h4>Uma plataforma criada e desenvolvida por um emigrante Português na Suiça, que conhece as
      maiores dificuldades de quem vive na Suiça. Esta Plataforma tem como missão combater essas mesmas dificuldades e melhorar
      a vida de cada Português na Suiça e melhorar o desempenho de cada empresa Portuguesa na Suiça.
    </h4>
    <h3 style="font-style: italic; width: 90%;margin: auto;">"Esta Plataforma tem como missão combater essas mesmas dificuldades e melhorar
        a vida de cada Português na Suiça"</h3>
    <h4>Para poder ajudar cada Português na suiça Portugal Lá Fora dispõe de diferentes ferramentas , desde aplicações que permitem
        a cada Portugês que possui uma empresa ou um hobby adicionar a sua empresa na nossa Plataforma e assim alcançar mais clientes
        e facilitar a procura a cada cliente, dispomos de aplicações para procurar transportadoras Portugueses de cada Cantão Suiço 
        a cada Distrito Português, dispomos de motores de busca para voos em todas as principais companhias aereas, artigos importantes 
        para a vida na Suiça e muito mais.
    </h4>
     <h4>Mesmo que a Plataforma disponha de uma grande variedade de ferramentas, procuramos a cada dia melhorar e aumentar as nossas 
         aplicações, nesse sentido estamos abertos a parcerias e á opinião de cada visitante da nossa Plataforma, se tens alguma 
         ideia ou alguma critíca não hesites e entra em contato, cada opinião é importante.
     </h4>
   
</div>

<div class="sketchy">
    <h3 style="margin: auto; margin-left: 40px;">contata-nos</h3>
    <form action="" method="post">
    <div class="form__group" id="sobrenosContato" >
        <input type="text" class="form__input" id="codpos" name="nome" placeholder="O teu nome... "  style="width: 80%;font-family:Arial, FontAwesome;margin: auto;"  required="" />
         
    </div><br>
    <div class="form__group" id="sobrenosContato">
        <input type="text" class="form__input" id="codpos" name="email" placeholder="O teu email... "  style="width: 80%;font-family:Arial, FontAwesome;margin: auto;"  required="" />      
    </div><br>
      
      <div class="form__group" id="sobrenosContato">
          <textarea type="text" class="form__input" id="descricao" name="mensagem" placeholder="Mensagem... "  style="width: 80%;font-family:Arial, FontAwesome;margin: auto;height: 110px;"  required="" ></textarea>
      </div>
      <br>
      <div class="form__group" id="btnadd" style="width: 30%; border-radius: 5px;">
        <input style="width: 80%; border-radius: 5px;" type="submit" id="btnadd" class="form__input"  value="Enviar"  >
        </div></form>
</div>
</div>
</div>
</div>

<% include footer.ejs %>