<!DOCTYPE html>
<html lang="en">
 <head>
    <title> Portugal lá Fora</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="DS">
  <meta name="description" content="T-shirts">
  <meta name="keywords" content="T-shirts">
  <link href="/blog/resources/css/all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/resources/css/style.css">
  <link rel="stylesheet" type="text/css" href="/blog/resources/css/empresas.css">
  <link rel="stylesheet" type="text/css" href="/resources/css/conteudo.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <script type="text/javascript"></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Oswald:wght@500&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  
</head>
<body>
 <header>
     <div class="content" id="navbar">
         <div id="logo">
            <h4>Portugal lá Fora</h4>
        </div>

        <div class="tutorial" id="dropmenu">
                <ul id="dropdown">
                    <li><a href="/index">Home </a></li>
                    <li><a href="">Empresas <i class="fas fa-chevron-down fa-xs"></i></a>
                        <ul>
                            
                          <li><a href="/empresas">Empresas</a> </li>
                          <li><a href="/add"> Adicionar empresas</a></li>
                          </ul>
                        </li>
                    <li><a href="servicos.html"> Noticias<i class="fas fa-chevron-down fa-xs"></i></a>
                      <ul>
                        <li><a href="/login">login</a> </li>
                        <li><a href="/signup">signup</a> </li>
                        <li><a href="/profile">profile</a></li>
                        
                      </ul></li>
                    <li><a href="paginasweb.html">Artigos<i class="fas fa-chevron-down fa-xs"></i></a>
                    <ul>
                            <li><a href="/artigos">Ver todos os artigos</a></li>
                            <li><a href="">Saude</a> </li>
                            <li><a href="/desporto">Desporto</a></li>
                            <li><a href="">Viagens</a></li>
                            <li><a href="">Cidades em Portugal</a></li>
                            <li><a href="">Suiça</a></li>
                          </ul></li>
                    <li><a href="paginasweb.html">Viagens <i class="fas fa-chevron-down fa-xs"></i></a>
                    <ul>
                            <li>Graphic Design</li>
                            <li>Website Design </li>
                            <li>Python Programming</li>
                            <li>PHP Programming</li>
                          </ul></li>   
                          <li><a ><i class="fas fa-user"></i>  A tua conta  <i class="fas fa-chevron-down fa-xs"></i></a >
                            <ul>
                              <li><a href="/login">Entra</a> </li>
                              <li><a href="/signup">Registra-te</a> </li>
                              <li><a href="/profile">O teu perfil</a></li>
                              
                            </ul></li>   

                </ul>     
        </div>     
       
         <div id="contactos">
            
          <div class="redes">  
             <a class="fac" href="#"><i class="fa fa-facebook fa-lg"></i></a>
             <a class="ins" href="#"><i class="fa fa-instagram fa-lg"></i></a>
          </div> 
         </div>
     </div>
 </header>  

 


    



<div class="empresasMain" style="margin-top: 60px;" >

    

    <style>
    .table-wrapper {
        margin-top: 50px;
    }

    .player-img {
        width: 40px;
        height: 40px;
    }

    .add-player-form {
        margin-top: 50px;
    }
</style>

    
     




   